
<h3>App Access Details for {{name}}</h3>

<p>Your App has the following key and secret</p>
<div class="row">
    <div class="alert alert-warning span6 offset2">
      <p><strong>key:</strong> {{key}}</p>
      <p><strong>secret:</strong> {{secret}}</p>
    </div>
	</div>