
<table class="table table-striped table-bordered table-hover">
	<thead>
		<tr>
			<th>#</th>
			<th>Timestamp</th>
			<th>Action</th>
			<th>User</th>
			<th>Device</th>
			<th>Quantity</th>
			<th>Unit</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="log in list">
			<td>{{log.id}}</td>
			<td>{{log.when}}</td>
			<td>{{log.action}}</td>
			<td><a ng-href="#/{{appState.selected_app.key}}/users/{{log.user}}">{{log.user}}</a></td>
			<td><a ng-href="#/{{appState.selected_app.key}}/devices/{{log.device}}">{{log.device}}</a></td>
			<td>{{log.quantity}}</td>
			<td>{{log.unit}}</td>
		</tr>
	</tbody>
</table>