
<h2>User: {{id}}</h2>
<h3>Assigned Profile: <span editable="{type: 'select', source: profile_options}" editable-saved="save()" ng-model="user.assigned_profile.id"></span></h3>
<h4>User Account</h4>
<p>the following information is attached to the user account</p>
<table>
	<thead>
		<tr>
			<th>Key</th>
			<th>Value</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody ng-init="{showAdd: false}">
		<tr ng-repeat="(key, value) in user.account">
			<td>{{key}}</td>
			<td><span editable editable-saved="save()" ng-model="user.account[key]"></span></td>
			<td><a ng-click="delAccountItem(key)"><span class="icon icon-remove"></span></td>
		</tr>
		<tr ng-hide="showAdd">
			<td colspan="3" style="text-align: right"><a href="" ng-click="showAdd=true">Add entry</a></td>
		</tr>
		<tr ng-form ng-show="showAdd">
			<td><input type="text" placeholder="Key" ng-model="key"></td>
			<td><input type="text" placeholder="Value" ng-model="value"></td>
			<td><button type="submit" ng-click="addItem(key, value)">Add</button>&nbsp;<a href="" ng-click="showAdd=false">Done adding</a></td>
		</tr>
	</tbody>
</table>

<h3>Latest Activities</h3>

<table class="table table-striped table-bordered table-hover">
	<thead>
		<tr>
			<th>#</th>
			<th>Timestamp</th>
			<th>Action</th>
			<th>Device</th>
			<th>Quantity</th>
			<th>Unit</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="log in logs">
			<td></td>
			<td>{{log.when}}</td>
			<td>{{log.action}}</td>
			<td><a ng-href="#/{{appState.selected_app.key}}/devices/{{log.device}}">{{log.device}}</a></td>
			<td>{{log.quantity}}</td>
			<td>{{log.unit}}</td>
		</tr>
	</tbody>
</table>