
<h2>User: {{id}}</h2>
<h3>Assigned Profile: <span editable="{type: 'select', source: profile_options}" editable-saved="saveProfile()" ng-model="user.assigned_profile.id"></span></h3>
<h3>User Info</h3>
<p>We know the following about the user:</p>
<table>
	<thead>
		<tr>
			<th>Key</th>
			<th>Value</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="entry in user">
			<td>{{entry}}</td>
			<td>{{user[entry]}}</td>
		</tr>
	</tbody>
</table>

<h3>Latest Activities</h3>

<table class="table table-striped table-bordered table-hover">
	<thead>
		<tr>
			<th>#</th>
			<th>Timestamp</th>
			<th>Action</th>
			<th>Device</th>
			<th>Quantity</th>
			<th>Unit</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="log in logs">
			<td></td>
			<td>{{log.when}}</td>
			<td>{{log.action}}</td>
			<td><a ng-href="#/{{appState.selected_app.key}}/devices/{{log.device}}">{{log.device}}</a></td>
			<td>{{log.quantity}}</td>
			<td>{{log.unit}}</td>
		</tr>
	</tbody>
</table>